<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STENOGRAFFIA</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/darkly/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css"></script>
    <script src=https://code.jquery.com/jquery-3.6.0.min.js></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="/static/initMap.js" type="module"></script>
    <script src="/static/test.js" type="module"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">STENOGRAFFIA Admin</a>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/addPlace">Add Place</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/addRoute">Add route</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/surfaceExchange">Surface exchange</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="map" style="height:400px;"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIYgp4_fQM9IN3P5GI2a_s2vxNz4ysrjQ&callback=initMap"
        async></script>
<br>
<button type="button" class="btn btn-primary" name="GetRoute" id="GetRoute">GetRoute</button>
<table>
    <tr>
        <td>
            <form id="roadForm" style="width:800px; margin: 20px 20px;" enctype="multipart/form-data" method="post">
                <legend>Add Route</legend>
                <table width="800">
                    <tr>
                        <td width="375">
                            <div class="form-group">
                                <label for="nameOfRoute" class="form-label mt-4">First Point</label>
                                <select class="form-select" id="firstPointSelector">
                                </select>
                            </div>
                        </td>
                        <td width="50"></td>
                        <td width="375">
                            <div class="form-group">
                                <label for="descriptionOfRoute" class="form-label mt-4">Last Point</label>
                                <select class="form-select" id="secondPointSelector">
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td width="375">
                            <div class="form-group">
                                <label for="nameOfRoute" class="form-label mt-4">Name</label>
                                <input type="text" class="form-control" id="nameOfRoute" placeholder="Enter name">
                            </div>
                        </td>
                        <td width="50"></td>
                        <td width="375">
                            <div class="form-group">
                                <label for="descriptionOfRoute" class="form-label mt-4">Description</label>
                                <input type="text" class="form-control" id="descriptionOfRoute" placeholder="Enter description">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="length" class="form-label mt-4">Length</label>
                                <input type="text" class="form-control" id="length" placeholder="Enter length">
                            </div>
                        </td>
                        <td width="50"></td>
                        <td>
                            <div class="form-group">
                                <label for="popularPlaces" class="form-label mt-4">Popular places</label>
                                <input type="text" class="form-control" id="popularPlaces" placeholder="Enter popular places">
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <label for="image" class="form-label mt-4">Image</label>
                                <input class="form-control" type="file" multiple accept="image/jpg,image/jpeg,image/png" id="image">
                            </div>
                        </td>
                    </tr>
                </table>
                <br>
                <button type="button" class="btn btn-primary" name="AddRoute" id="AddRoute">Add route</button>
            </form>
        </td>
        <td>
            <div class="form-group">
                <label for="selectorWaypoints" class="form-label mt-4">Waypoints</label>
                <select multiple="" class="form-select" id="selectorWaypoints" style="width: 400px; height: 300px;;">
                </select>
            </div>
        </td>
    </tr>
</table>

</body>
</html>